.admin-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

.navigation .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navigation .logout-button {
  background-color: rgb(15, 62, 124);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.navigation .logout-button:hover {
  background-color: #0b9c7d;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f4f4f4;
  width: 200px;
  padding: 1rem;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.5rem 0;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
